body{
    overflow-x: hidden;
}

.nav-btn-light {
  color: #071d49;
  background-color: #c5def4;
  border: none;
  padding: 13px 16px;
    gap: 10px;
    /* width: 118px; */
    height: 42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.nav-btn-dark{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: -0.01em;
    color: #FFFFFF;
    height: 42px;
    left: 80.28%;
    right: 3.33%;
    top: 17.19%;
    bottom: 17.19%;
    background: #254AA0;
    border-radius: 4px;
}

.nav-link{
    margin-right: 10px;
}

.main-container, .row{
    height: 70%;
}

.hero-img-div{
    /* height: 819px; */
    padding: 0%;
    z-index: -1;

}
@media screen and (max-width:768px) {
    .hero-img-div{
        height: 100%;
        top: 1%;
    }
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-img-tablet{
    width: 100%;
    height: 591px;
    object-fit: cover;
}
.hero-img-mobile{
    width: 100%;
    height: 363px;
    object-fit: cover;
}



#body-heading{
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 300%;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #071D49;
}
@media screen  and (max-width: 768px){
    #body-heading{
        font-size: 200%;
        width: 312px;
        height: 190px;

    }
    #body-sub-heanding{
        width: 313px;
        height: 96px;
    }
    .heading-container{
        top: 5%;
    }
}   


#body-sub-heanding{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #071D49;
}

.body-btn{
    padding: 12px 16px;
    /* width: 123px; */
    height: 40px;
    background: #254AA0;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    letter-spacing: -0.01em;
    color: #FFFFFF;

}
.heading-container{
    max-width: 572px;
    max-height: 370px;
    margin-top: 25%;
}
@media screen and (max-width:425px){
    .heading-container{
        top: 8%;
    }
}

.body-gradient{
    width: 100%;
    min-height: 40%;
    margin-top: -240px;
    z-index: 1;
    background: linear-gradient(180deg, #3BBFB5 0%, #254AA0 53.02%);
    border-radius: 0px 120px 0px 120px;
}

@media screen and ( max-width:768px) {
    .body-gradient{
        margin-top: -150px;
        border-radius: 0px 100px 0px 100px;
    }
}
@media screen and ( max-width:425px) {
    .body-gradient{
        margin-top: -150px;
        border-radius: 0px 80px 0px 80px;
    }
}



.body-gradient-title{
    margin: 5% 10%;
}

#title1{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    line-height: 141.9%;
    color: #FFFFFF;
}

#title2{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 24px;
    color: #FFFFFF;
}

/* solutions */

.solutions_Div{
    overflow-x: hidden;
}
.solutions-mainH{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #071D49;
    margin-bottom: 4%;
}
.solutions_heading{
    width: 280px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 150.9%;
    color: #000000;
    margin: 3%;

}
.left-para{
    width: 280px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 150%;
    color: #254AA0;
    margin-left:3%;
    margin-top: 11%;
    
}
.solutions_img{
    padding-left: 4.5%;
}
@media screen and (max-width:768px){
    .right-content{
        margin-left: 8%;
        width: 374px;
        height: 510px;      }
    .right-heading{
        width: 401px;
        height: 50px;
        font-size: 100%;
        font-weight: 700;
        line-height: 125.9%;
        margin-bottom: 5%;
    }
    .right-para{
        width: 352px;
        height: 129px;
    }
    .right-preTag_div{
        margin-top: 5%;
    }
}

@media screen and (max-width:425px){
    .right-heading{
        width: 283px;
        height: 63px;
    }
}
.right-heading{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 125%;
    line-height: 150.9%;
    color: #071D49;
    margin-top: 10%;
}
.right-para{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 75%;
    line-height: 160.9%;
    color: #000000;

}
.right-preTag_div{
    margin-left: 0%;
}
.right-preTag{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 75%;
    line-height: 160.9%;
    color: #000000;
    
}

/* contact us div */

.contactUs_div{
    
    border-radius: 120px 0px 120px 0px;
    background: linear-gradient(169.48deg, #254AA0 6.49%, #7355C0 90.04%);
}
.contact_h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 250%;
    line-height: 125%;
    color: #FFFFFF;
    margin-top: 5%;

}
.contact_h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 125%;
    color: #FFFFFF;

}
.contact_left_right1{
    margin-top: 2.5%;
}
.contact_left1 h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150.9%;
    color: #FFFFFF;
}

.contact_left1 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 75%;
    line-height: 160.9%;
    color: #FFFFFF;
}
.contact_right1{
    padding-left: 4%;
}
.contact_right1 h6{
    /* width: 328px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150.9%;
    color: #FFFFFF;

}
.contact_right1 p{
    width: 462px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160.9%;
    color: #FFFFFF;

}
.contact_left2{
    
}
.contact_right2{
    margin-top: 2%;
    margin-left: 11.5%;
}
.contact_right2 h6{
    width: 475px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150.9%;
    color: #FFFFFF;

}
.contact_right2 p{
    width: 473px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160.9%;
    color: #FFFFFF;

}

.contactUs_btn{
    margin-top: 12%;
}

@media screen and (max-width:768px) {
    
    .contact_h1{
        font-size: 24px;
        line-height: 141.9%;
        margin-top: 15%;
    }
    .contact_h2{
        width: 457px;
    }
    .contact_right1 p{
        width: 550px;
    }
    .contact_right2 p{
        width: 550px;
    }
    .contact_right1{
        padding-left: 10%;
    }
    .contact_right2{
        margin-left: 8%;
    }
    .contactUs_btn{
        margin-top: 7%;
        margin-bottom: 7%;
    }
}

@media screen and (max-width:425px) {
    
    .contact_h1{
        width: 294px;
        font-size: 24px;
        line-height: 141.9%;
        margin-top: 20%;
    }
    .contact_h2{
        width: 294px;
        margin-top: 2%;
    }
    .contact_left1{
        margin-left: 7%;
    }
    .contact_left1 p{
        width: 275px;
        height: 150px;
        
    }
    .contact_right1{
        margin-top: 5%;
    }
    .contact_right1 h6{
        width: 275px;
    }
    .contact_right1 p{
        width: 275px;
    }
    .contact_right2 p{
        width: 275px;
    }
    .contact_right2 h6{
        width: 275px;
    }
    .contact_right1{
        padding-left: 10%;
    }
    .contact_right2{
        margin-left: 8%;
    }
    .contactUs_btn{
        margin-top: 7%;
        margin-bottom: 7%;
    }
}
/* check */

.ckeck_div{
    /* position: absolute; */
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(4px);
    border-radius: 160px;
    margin: 4% auto;
    margin-bottom: 2%;
    
}
.check_title{
    /* position: absolute; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 170%;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #071D49;
}
.check_para{
    margin-left: 30%;
    margin-top: 3%;
}

.check_para button{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    background: #254AA0;
}

@media screen and (max-width:768px) {
    
    .check_title{
        width: 580px;
    }
    .ckeck_div{
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width:425px) {
    .check_title{
        font-size: 24px;
        width: 288px;
    }
    .ckeck_div{
        margin-top: 15%;
        margin-bottom: 15%;
    }
}
/* Innovation percentage area  */
.innovation_mainDiv{
    background: linear-gradient(360deg, #E2EFFA 0%, #DCF3F0 72.92%);
    border-radius: 80px 0px 80px 0px;
    margin-top: 5%;
}
.inn_heading{
    width: 439px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #071D49;

}
.inn_heading2{
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0.02em;
    border: 2px solid #071D49;
    background: none;
}
.innovation_titles{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #071D49;
}
.innovation_100_title{
    width: 285px;
    line-height: 150.9%;
}
.innovation_97_title{
    width: 232px;
    line-height: 125%;
    letter-spacing: -0.02em;
}
.innovation_50_title{
    width: 217px;
    line-height: 125%;
    letter-spacing: -0.02em;
}
.innovation_3_title{
    width: 255px;
    line-height: 125%;
    letter-spacing: -0.02em;
}

.innovation_num{
    color: #E2EFFA ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
    text-shadow: .5px -1.5px 0 #071D49, 1.5px -1.5px 0 #071D49, -1.5px 1.5px 0 #071D49, 1.5px 1.5px 0 #071D49;
}
.innovation_100_num{
    width: 214px;
}
.innovation_97_num{
    width: 178px;
}
.innovation_50_num{
    width: 179px;
}
.innovation_3_num{
    width: 174px;
}
.innovation_24_num{
    width: 195px;
}

.innovation_firstRow{
    padding-top: 5%;
}
.innovation_secondRow{
    padding-bottom: 5%;
}

@media screen and (max-width:768px) {
    .inn_heading{
        width: 243px;
        font-size: 24px;

    }
}

@media screen and (max-width:425px) {
    .inn_heading{
        width: 281px;
        font-size: 24px;
        margin-top: 10%;
        margin-left: 8%;
    }
}

/* Therapeutic Areas */

.therapeutic_main_div{
    margin-top: 3%;
}
.standingImg_Div{
    
    background: url(professional-medical-worker-talking-to-his-assista-2022-02-02-22-51-17-utc.jpg);
    border-radius: 0px 145px 5px 5px;

}
.standingImg{
   /* width:fit-content;
   height:fit-content; */
}
.therapeutic_left_part{
    padding-left: 4%;
}
.therapeutic_left_part p{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 141.9%;
    color: #071D49;
}
.therapeutic_pre_div pre {
    text-align: left;
    white-space: pre-line;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160.9%;
    color: #071D49;
}

/* certifications */

.certify_heading{
    /* width: 548px;
    height: 45px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 141.9%;
    text-align: center;
    color: #071D49;
}
.certify_para{
    width: 774px;
    height: 87px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160.9%;
    text-align: center;
    color: #071D49;

}

@media screen and (max-width:768px) {
    .certify_heading{
        font-weight: 700;
        font-size: 24px;
        width: 479px;
    }
    .certify_para{
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        width: 543px;
    }
}

@media screen and (max-width:425px) {
    .certify_heading{
        width: 314px;
        font-weight: 700;
        font-size: 20px;
    }
    .certify_para{
        font-weight: 400;
        font-size: 12px;
        width: 313px;
    }
}

/* news and thoughts */



/* footer */

.footer{
    background: #071D49;
}
.footer_row1{
    /* position: absolute; */
    width: 80%;
    /* height: 40%; */
    margin: 2% auto;
    background: linear-gradient(266.53deg, #99CC33 6.57%, #3BBFB5 92.52%);
    border-radius: 160px;
}
.footer_div p{
    /* width: 155px;
    height: 18px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3BBFB5;
}
.footer_div pre{
    text-align: left;
    white-space: pre-line;
    /* width: 200px;
    height: 375px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}